/*Hide original home icon*/
[class^=childWrapper_]>:not([class^=favoriteIcon_]) {
	display: none;
}
/*Add oneko*/
[class^=childWrapper_]:not(:has([class^=favoriteIcon_])):before {
	content: "";
	background-image: var(--onekohomeicon-skin, url(https://raw.githubusercontent.com/vencordcss/onekocord/main/onekoskins/default.png));
	animation: var(--onekohomeicon-wakeup-duration, 2s) 1 forwards gotosleep, var(--onekohomeicon-sleep-duration, 2s) var(--onekohomeicon-wakeup-duration, 2s) infinite var(--onekohomeicon-sleep-animation, sleep);
	image-rendering: pixelated;
	width: calc(32px/var(--onekohomeicon-resolution, 1));
	height: calc(32px/var(--onekohomeicon-resolution, 1));
	transform: scale(var(--onekohomeicon-resolution, 1));
	transition: 0.2s ease;
	opacity: 0.7;
}
/*Wake oneko up and start hover animation on hover*/
[class^=childWrapper_]:not(:has([class^=favoriteIcon_])):hover:before {
	animation: var(--onekohomeicon-wakeup-duration, 2s) 1 forwards wakeup, var(--onekohomeicon-hovered-duration, 2s) var(--onekohomeicon-wakeup-duration, 2s) infinite var(--onekohomeicon-hovered-animation, alert);
	opacity: 1;
}
/*Wake oneko up and start focused animation when opening dms*/
[class*=selected_]>[class^=childWrapper_]:not(:has([class^=favoriteIcon_])):not(:hover):before {
	animation: var(--onekohomeicon-wakeup-duration, 2s) 1 forwards wakeup, var(--onekohomeicon-focused-duration, 2s) var(--onekohomeicon-wakeup-duration, 2s) infinite var(--onekohomeicon-focused-animation, runright);
	opacity: 1;
}